.home {
    height: 100vh;
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}

.text-responsive{
    font-size: calc(1em + 1vh);
}

.background {
    width: 100vw;
    height: 100vh;
}
