.bio {
    height: auto;
    background-color: #141414;
}

.imagen {
    background-color: #141414;
    width: calc(20em + 1vw);
    height: calc(15em + 1vw);
}

.text-responsive {
    font-size: calc(0.8rem + 1vh);
}

.texto-blanco {
    color:rgb(250, 250, 251);
}

.texto-lineone {
    color:rgb(140, 0, 255);
}

.background {
    width: 100vw;
    height: 100vh;
}
